<div id="searchPage">
    <h1 class="text-2xl font-bold relative top-5">Search</h1>
    <input type="text" id="search" class="relative top-10" placeholder="Search here...">
    <section class="buttons flex flex-row items-center justify-center gap-4 mt-28 text-center">
        <button id="type-anime" class="button inline-flex items-center justify-center pl-2 pr-2 pt-1 pb-1 bg-orange-500 border rounded-md text-xs text-white font-semibold uppercase tracking-widest transition ease-in-out duration-150 hover:bg-orange-400 active:bg-orange-600 focus:outline-none active:border-orange-600 active:ring-orange disabled:bg-gray-200 disabled:border-gray-300 disabled:text-gray-400 disabled:cursor-default sm:px-4 sm:py-2" type='button'>ANIME</button>
        <button id="type-literature" class="button inline-flex items-center justify-center pl-2 pr-2 pt-1 pb-1 bg-orange-500 border rounded-md text-xs text-white font-semibold uppercase tracking-widest transition ease-in-out duration-150 hover:bg-orange-400 active:bg-orange-600 focus:outline-none active:border-orange-600 active:ring-orange disabled:bg-gray-200 disabled:border-gray-300 disabled:text-gray-400 disabled:cursor-default sm:px-4 sm:py-2" type='button'>MANGA</button>
    </section>
    <div id="searchData"></div>
</div>
