/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/* Global styles */
html, body {
    @apply scroll-smooth;
    width: 400px;
    height: 600px;
    padding: 0;
    margin: 0;
}

ul, ol {
    margin: 1em 0 1em 1.1em;
}

body {
    @apply flex
    flex-col
    text-neutral-750
    leading-snug
    tracking-tight
    dark:text-white;

    quotes: "“" "”";
}

main {
    @apply flex-grow;
}

picture::before {
    @apply absolute
    block
    bg-transparent
    h-full
    w-full;

    content: "";
}

/**
 * This injects all of Tailwind's utility classes, generated based on the
 * config file.
 */
@tailwind utilities;
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        @apply hidden;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .text-unset {
        text-align: unset;
    }
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

img:not([src]):not([srcset]) {
    visibility: hidden;
}

[x-cloak] {
    display: none !important;
}

[target^="_blank"]::after {
    content: "\0020\2197";
    white-space: nowrap;
}

[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 25%;
}

/**
 * This injects all of Tailwind's screen classes, generated based on the
 * config file.
 */
@tailwind variants;


#searchPage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
}

#searchText{
    position: relative;
    font-weight: bold;
    font-size: 25px;
    top: 20px;
}

#search{
    width: 350px;
    position: absolute;
    outline: none;
    top: 70px;
    border: 1px solid black;
    border-radius: 10px;
}

#search:focus{
    position: absolute;
    outline: none;
    border: 1px solid orange;
    border-radius: 10px;
    top: 70px;
}

#searchData{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    position: relative;
    top: 50px;
}

#animeContainer{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    width: 380px;
    height: 200px;
    padding: 10px;
}

#animePoster{
    position: absolute;
    width: 100px;
    border-radius: 10px;
}

#animeDetails{
    max-width: 180px;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    left: 125px;
    vertical-align: top;
}

#animeTitle{
    font-size: 15px;
}

#animeGenre{
    font-size: 10px;
}
